.topcard-div {
   display: grid;
   grid-template-columns: auto 1fr auto;
   gap: 20px;
   color: #fff;
   height: max-content;
   background: var(--primary-bg-alt);
   margin: 14px 0;
   justify-content: space-between;;
   border-radius: 20px;
   padding: .5rem;
   align-items: center;
   font-size: 14px;
}
.music-art-img {
 width: 80px;
 height: 80px;
}
.music-details-cont {
   display: grid;
   align-items: flex-end;
   gap: 10px;
}
.song-title {
 font-size: 16px;
 line-height: 20px;
 width: 100%;
}
.artist-name {
   color: var(--light);
   font-size: 11px;
   text-transform: capitalize;
}

.like-cont {
   width: 37px;
   height: 37px;
   border: 1px solid var(--light);
   border-radius: 50%;
   display: grid;
   place-items: center;
}

@media (max-width : 900px) {
   .topcard-div {
      width: 323px;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      position: relative;
      padding: 1rem;
   }
   .music-details-cont {
      width: inherit;
   }
   .musicart-cont {
      width: 100%;
      display: grid;
      justify-content: flex-start;
   }
   .music-art-img {
      width: 100%;
   }
   .like-cont {
      position: absolute;
      top: 15px;
      right: 15px;
   }
}