.tp-cont {
   width: 100%;
   height: 373px;
   margin-top: 2rem;
   display: grid;
   overflow: hidden;
   position: relative;
}
.head-top {
   color: #fff;
   font-size: 26px;
   line-height: 120%;
}
.mobile-flex {
   overflow: hidden;
}
@media (max-width: 900px) {
   .tp-cont {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: auto;
      margin: 0;
   }
   .mobile-flex {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 1rem 0;
      gap: 20px;
   }
   
}