.homepage-top-cont {
   display: grid;
   grid-template-columns: auto auto;
   padding-right: 1rem;
   gap: 2rem;
}

@media (max-width: 900px) {
   .homepage-top-cont {
      grid-template-columns: 1fr;
      margin-top: 4rem;
      padding: 0;
   }
}