.music-card-contt {
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: auto;
   margin: 0;
   width: 153px;
}
.music-art-img-cont{
   width: 153px;
   height: 153px;
   border-radius: 26px;
   overflow: hidden;
}
.music-art-iimg {
   width: 100%;
   height: 100%;
}
.music-card-text-cont {
   color: var(--light);
   display: grid;
   gap: 0;
}